<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/DylT">Dylan</a>. A student in the University of Arizona Code Camp.
  </p>
  <br />
  <p>
    He's made some stuff.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dylan Torrez</h2>
      <br />
      <p>
        Dylan Torrez is learning to code.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


  </div>